## Terraform exclusions
.terraform/
*.tfstate
*.tfstate.backup
*lock*
### Allow for local testing file that never ends up in git
local.tf
terraform.tfvars
backend.tf
ngc.auto.tfvars.json
.terraformrc
